<div class="container">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12 f-40 font-weight-bold text-center pb-5">Наше портфолио</div>
        <ul class="nav nav-tabs d-flex justify-content-around w-100" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="academycity-tab" data-toggle="tab" href="#academycity" role="tab" aria-controls="academycity" aria-selected="true">Академгородок</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="altaystroy-tab" data-toggle="tab" href="#altaystroy" role="tab" aria-controls="altaystroy" aria-selected="false">АлтайСтройМаш</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="altaytentkupol-tab" data-toggle="tab" href="#altaytentkupol" role="tab" aria-controls="altaytentkupol" aria-selected="false">Алтай-Тент купол</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="altaytentmr-tab" data-toggle="tab" href="#altaytentmr" role="tab" aria-controls="altaytentmr" aria-selected="false">Алтай-Тент мягкий резервуар</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="berdsk-tab" data-toggle="tab" href="#berdsk" role="tab" aria-controls="berdsk" aria-selected="false">Бердск</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="domina-tab" data-toggle="tab" href="#domina" role="tab" aria-controls="domina" aria-selected="false">Отель Домина</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="granotek-tab" data-toggle="tab" href="#granotek" role="tab" aria-controls="granotek" aria-selected="false">Гранотек</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="iziskania-tab" data-toggle="tab" href="#iziskania" role="tab" aria-controls="iziskania" aria-selected="false">ЖД Изыскания</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="october-tab" data-toggle="tab" href="#october" role="tab" aria-controls="october" aria-selected="false">ЖК Октябрьский квартал</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="venecia-tab" data-toggle="tab" href="#venecia" role="tab" aria-controls="venecia" aria-selected="false">ЖК Венеция</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="domNaChap-tab" data-toggle="tab" href="#domNaChap" role="tab" aria-controls="domNaChap" aria-selected="false">Дом на Чаплыгина СК Инвест</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="elsi-tab" data-toggle="tab" href="#elsi" role="tab" aria-controls="elsi" aria-selected="false">ЭЛСИ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fabrichnaya-tab" data-toggle="tab" href="#fabrichnaya" role="tab" aria-controls="fabrichnaya" aria-selected="false">Фабричная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="gbu-tab" data-toggle="tab" href="#gbu" role="tab" aria-controls="gbu" aria-selected="false">ГБУ НСО ГНОКБ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="kotelnayaKotlomash-tab" data-toggle="tab" href="#kotelnayaKotlomash" role="tab" aria-controls="kotelnayaKotlomash" aria-selected="false">Котельная Котломаш</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="kotelnayaOoo-tab" data-toggle="tab" href="#kotelnayaOoo" role="tab" aria-controls="kotelnayaOoo" aria-selected="false">Котельная ООО КЗТ Теплоэнергетик</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="kvartalKoms-tab" data-toggle="tab" href="#kvartalKoms" role="tab" aria-controls="kvartalKoms" aria-selected="false">ЖК Комсомольский Квартал</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="legendarniy-tab" data-toggle="tab" href="#legendarniy" role="tab" aria-controls="legendarniy" aria-selected="false">ЖК Легендарный-Северный</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="maketiDlyaLudey-tab" data-toggle="tab" href="#maketiDlyaLudey" role="tab" aria-controls="maketiDlyaLudey" aria-selected="false">Макеты для людей с нарушениями зрения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mupSah-tab" data-toggle="tab" href="#mupSah" role="tab" aria-controls="mupSah" aria-selected="false">МУП САХ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mupSahHistory-tab" data-toggle="tab" href="#mupSahHistory" role="tab" aria-controls="mupSahHistory" aria-selected="false">МУП САХ история развития</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="naNarodnoy-tab" data-toggle="tab" href="#naNarodnoy" role="tab" aria-controls="naNarodnoy" aria-selected="false">ЖК На Народной</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tes-tab" data-toggle="tab" href="#tes" role="tab" aria-controls="tes" aria-selected="false">ТЭС Проект</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="zavod-tab" data-toggle="tab" href="#zavod" role="tab" aria-controls="zavod" aria-selected="false">Завод ТЕХНО</a>
            </li>
        </ul>
        <div class="tab-content mt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="academycity" role="tabpanel" aria-labelledby="academycity-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.academycity}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/academycity/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="altaystroy" role="tabpanel" aria-labelledby="altaystroy-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.altaystroy}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/altaystroy/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="altaytentkupol" role="tabpanel" aria-labelledby="altaytentkupol-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.altaytentkupol}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/altaytentkupol/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="altaytentmr" role="tabpanel" aria-labelledby="altaytentmr-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.altaytentmr}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/altaytentmr/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="berdsk" role="tabpanel" aria-labelledby="berdsk-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.berdsk}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/berdsk/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="domina" role="tabpanel" aria-labelledby="domina-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.domina}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/domina/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="granotek" role="tabpanel" aria-labelledby="granotek-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.granotek}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/granotek/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="iziskania" role="tabpanel" aria-labelledby="iziskania-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.iziskania}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/iziskania/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="october" role="tabpanel" aria-labelledby="october-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.october}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/october/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="venecia" role="tabpanel" aria-labelledby="venecia-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.venecia}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/venecia/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="domNaChap" role="tabpanel" aria-labelledby="domNaChap-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.domNaChap}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/domNaChap/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="elsi" role="tabpanel" aria-labelledby="elsi-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.elsi}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/elsi/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="fabrichnaya" role="tabpanel" aria-labelledby="fabrichnaya-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.fabrichnaya}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/fabrichnaya/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="gbu" role="tabpanel" aria-labelledby="gbu-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.gbu}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/gbu/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="kotelnayaKotlomash" role="tabpanel" aria-labelledby="kotelnayaKotlomash-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.kotelnayaKotlomash}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/kotelnayaKotlomash/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="kotelnayaOoo" role="tabpanel" aria-labelledby="kotelnayaOoo-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.kotelnayaOoo}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/kotelnayaOoo/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="kvartalKoms" role="tabpanel" aria-labelledby="kvartalKoms-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.kvartalKoms}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/kvartalKoms/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>



            <div class="tab-pane fade" id="legendarniy" role="tabpanel" aria-labelledby="legendarniy-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.legendarniy}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/legendarniy/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="maketiDlyaLudey" role="tabpanel" aria-labelledby="maketiDlyaLudey-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.maketiDlyaLudey}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/maketiDlyaLudey/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="mupSah" role="tabpanel" aria-labelledby="mupSah-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.mupSah}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/mupSah/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="mupSahHistory" role="tabpanel" aria-labelledby="mupSahHistory-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.mupSahHistory}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/mupSahHistory/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="naNarodnoy" role="tabpanel" aria-labelledby="naNarodnoy-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.naNarodnoy}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/naNarodnoy/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="tes" role="tabpanel" aria-labelledby="tes-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.tes}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/tes/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab-pane fade" id="zavod" role="tabpanel" aria-labelledby="zavod-tab">
                <div class="row justify-content-center m-0">
                    {{#each images.zavod}}
                        <div class="col-lg-4 col-md-6 col-12 mb-3 p-0 pr-md-3 pl-md-3">
                            <img loading="lazy" src="../images/portfolio/zavod/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
