<div class="container portfolio">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>

    <div class="row mb-5">
        <div class="col-lg-12 f-32 font-weight-bold text-center">Наше портфолио</div>
    </div>

    {{#if isAuth}}
        <div class="row mb-5">
            <div class="col-12 d-flex justify-content-center">
                <a class="button ml-2" href="/portfolio/add">Добавить проект в портфолио</a>
                <a class="button ml-2" href="/portfolio/edit">Редактирование проектов</a>
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills mb-3 portfolio-tabs justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">Все проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-arch-tab" data-toggle="pill" href="#pills-arch" role="tab" aria-controls="pills-arch" aria-selected="false">Архитектурные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-concept-tab" data-toggle="pill" href="#pills-concept" role="tab" aria-controls="pills-concept" aria-selected="false">Концептуальные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-land-tab" data-toggle="pill" href="#pills-land" role="tab" aria-controls="pills-land" aria-selected="false">Ландшафтные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-inter-tab" data-toggle="pill" href="#pills-inter" role="tab" aria-controls="pills-inter" aria-selected="false">С интерактивной подсветкой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-gift-tab" data-toggle="pill" href="#pills-gift" role="tab" aria-controls="pills-gift" aria-selected="false">Подарочные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-prom-tab" data-toggle="pill" href="#pills-prom" role="tab" aria-controls="pills-prom" aria-selected="false">Промышленные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-anything-tab" data-toggle="pill" href="#pills-anything" role="tab" aria-controls="pills-anything" aria-selected="false">Прочее</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <!--            Все макеты-->
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                    <div class="row">
                        {{#each all}}
                            <div class="col-lg-4 col-md-6 col-12 mb-3">
                                <a class="all-image-href">
                                    <input type="hidden" value="{{this.type}}">
                                    <div class="all-image p-1">
                                        <img src="{{this.Images.[0].src}}" alt="{{this.Images.[0].name}}">
                                        <p class="all-image-text">{{this.name}}</p>
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <!--            Архитектурные-->
                <div class="tab-pane fade" id="pills-arch" role="tabpanel" aria-labelledby="pills-arch-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="archPortCarousel" class="carousel slide mb-5" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each arch}}
                                        <li data-target="#archPortCarousel" data-slide-to="{{@index}}"></li>
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each arch}}
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-7 position-relative">
                                                    <div class="full-img-wrapper mb-2 d-none d-sm-block">
                                                        <img id="project{{this.id}}" src="{{this.Images.[0].src}}" alt="" class="full-img small-image" width="100%" height="100%">
                                                    </div>
                                                    <div class="scrolling-wrapper">
                                                        {{#each this.Images}}
                                                            <img loading="lazy" src="{{src}}" class="scrolling-img" alt="{{name}}" onclick="selectedImg(this, {{../this.id}})">
                                                        {{/each}}
                                                    </div>
                                                    <div class="scrolling-arrow-left d-none d-sm-block"><img src="images/icons/left.svg" alt="left"></div>
                                                    <div class="scrolling-arrow-right d-none d-sm-block"><img src="images/icons/right.svg" alt="right"></div>
                                                </div>
                                                <div class="slider-info col-lg-5 mt-md-3 mt-lg-0">
                                                    <p class="slider-title f-20 font-weight-bold text-center">{{this.name}}</p>
                                                    <p class="slider-scale"><span class="red-underline">Масштаб:</span> {{this.scale}}</p>
                                                    <p class="slider-size"><span class="red-underline">Размер:</span> {{this.size}}</p>
                                                    <p class="slider-time"><span class="red-underline">Срок изготовления:</span> {{this.time}}</p>
                                                    <p class="slider-customer"><span class="red-underline">Заказчик:</span> {{#if this.customerUrl}}<a href="{{this.customerUrl}}">{{this.customer}}</a>{{else}}{{this.customer}}{{/if}}</p>
                                                    <p class="slider-description"><span class="red-underline">Описание:</span> {{this.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <a class="carousel-control-prev" href="#archPortCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#archPortCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                Концептуальные-->
                <div class="tab-pane fade" id="pills-concept" role="tabpanel" aria-labelledby="pills-concept-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="conceptPortCarousel" class="carousel slide mb-5" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each concept}}
                                        <li data-target="#conceptPortCarousel" data-slide-to="{{this.[index]}}"></li>
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each concept}}
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-7 position-relative">
                                                    <div class="full-img-wrapper mb-2 d-none d-sm-block">
                                                        <img id="project{{this.id}}" src="{{this.Images.[0].src}}" alt="" class="full-img small-image" width="100%" height="100%">
                                                    </div>
                                                    <div class="scrolling-wrapper">
                                                        {{#each this.Images}}
                                                            <img loading="lazy" src="{{src}}" class="scrolling-img" alt="{{name}}" onclick="selectedImg(this, {{../this.id}})">
                                                        {{/each}}
                                                    </div>
                                                    <div class="scrolling-arrow-left d-none d-sm-block"><img src="images/icons/left.svg" alt="left"></div>
                                                    <div class="scrolling-arrow-right d-none d-sm-block"><img src="images/icons/right.svg" alt="right"></div>
                                                </div>
                                                <div class="slider-info col-lg-5 mt-md-3 mt-lg-0">
                                                        <p class="slider-title f-20 font-weight-bold text-center">{{this.name}}</p>
                                                        <p class="slider-scale"><span class="red-underline">Масштаб:</span> {{this.scale}}</p>
                                                        <p class="slider-size"><span class="red-underline">Размер:</span> {{this.size}}</p>
                                                        <p class="slider-time"><span class="red-underline">Срок изготовления:</span> {{this.time}}</p>
                                                        <p class="slider-customer"><span class="red-underline">Заказчик:</span> {{#if this.customerUrl}}<a href="{{this.customerUrl}}">{{this.customer}}</a>{{else}}{{this.customer}}{{/if}}</p>
                                                        <p class="slider-description"><span class="red-underline">Описание:</span> {{this.description}}</p>
                                                    </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <a class="carousel-control-prev" href="#conceptPortCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#conceptPortCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                Ландшафтные-->
                <div class="tab-pane fade" id="pills-land" role="tabpanel" aria-labelledby="pills-land-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="landPortCarousel" class="carousel slide mb-5" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each land}}
                                        <li data-target="#landPortCarousel" data-slide-to="{{this.[index]}}"></li>
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each land}}
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-7 position-relative">
                                                    <div class="full-img-wrapper mb-2 d-none d-sm-block">
                                                        <img id="project{{this.id}}" src="{{this.Images.[0].src}}" alt="" class="full-img small-image" width="100%" height="100%">
                                                    </div>
                                                    <div class="scrolling-wrapper">
                                                        {{#each this.Images}}
                                                            <img loading="lazy" src="{{src}}" class="scrolling-img" alt="{{name}}" onclick="selectedImg(this, {{../this.id}})">
                                                        {{/each}}
                                                    </div>
                                                    <div class="scrolling-arrow-left d-none d-sm-block"><img src="images/icons/left.svg" alt="left"></div>
                                                    <div class="scrolling-arrow-right d-none d-sm-block"><img src="images/icons/right.svg" alt="right"></div>
                                                </div>
                                                <div class="slider-info col-lg-5 mt-md-3 mt-lg-0">
                                                    <p class="slider-title f-20 font-weight-bold text-center">{{this.name}}</p>
                                                    <p class="slider-scale"><span class="red-underline">Масштаб:</span> {{this.scale}}</p>
                                                    <p class="slider-size"><span class="red-underline">Размер:</span> {{this.size}}</p>
                                                    <p class="slider-time"><span class="red-underline">Срок изготовления:</span> {{this.time}}</p>
                                                    <p class="slider-customer"><span class="red-underline">Заказчик:</span> {{#if this.customerUrl}}<a href="{{this.customerUrl}}">{{this.customer}}</a>{{else}}{{this.customer}}{{/if}}</p>
                                                    <p class="slider-description"><span class="red-underline">Описание:</span> {{this.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <a class="carousel-control-prev" href="#landPortCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#landPortCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                С интерактивной подсветкой-->
                <div class="tab-pane fade" id="pills-inter" role="tabpanel" aria-labelledby="pills-inter-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="interPortCarousel" class="carousel slide mb-5" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each inter}}
                                        <li data-target="#interPortCarousel" data-slide-to="{{this.[index]}}"></li>
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each inter}}
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-7 position-relative">
                                                    <div class="full-img-wrapper mb-2 d-none d-sm-block">
                                                        <img id="project{{this.id}}" src="{{this.Images.[0].src}}" alt="" class="full-img small-image" width="100%" height="100%">
                                                    </div>
                                                    <div class="scrolling-wrapper">
                                                        {{#each this.Images}}
                                                            <img loading="lazy" src="{{src}}" class="scrolling-img" alt="{{name}}" onclick="selectedImg(this, {{../this.id}})">
                                                        {{/each}}
                                                    </div>
                                                    <div class="scrolling-arrow-left d-none d-sm-block"><img src="images/icons/left.svg" alt="left"></div>
                                                    <div class="scrolling-arrow-right d-none d-sm-block"><img src="images/icons/right.svg" alt="right"></div>
                                                </div>
                                                <div class="slider-info col-lg-5 mt-md-3 mt-lg-0">
                                                    <p class="slider-title f-20 font-weight-bold text-center">{{this.name}}</p>
                                                    <p class="slider-scale"><span class="red-underline">Масштаб:</span> {{this.scale}}</p>
                                                    <p class="slider-size"><span class="red-underline">Размер:</span> {{this.size}}</p>
                                                    <p class="slider-time"><span class="red-underline">Срок изготовления:</span> {{this.time}}</p>
                                                    <p class="slider-customer"><span class="red-underline">Заказчик:</span> {{#if this.customerUrl}}<a href="{{this.customerUrl}}">{{this.customer}}</a>{{else}}{{this.customer}}{{/if}}</p>
                                                    <p class="slider-description"><span class="red-underline">Описание:</span> {{this.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <a class="carousel-control-prev" href="#interPortCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#interPortCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                Подарочные-->
                <div class="tab-pane fade" id="pills-gift" role="tabpanel" aria-labelledby="pills-gift-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="giftPortCarousel" class="carousel slide mb-5" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each gift}}
                                        <li data-target="#giftPortCarousel" data-slide-to="{{this.[index]}}"></li>
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each gift}}
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-7 position-relative">
                                                    <div class="full-img-wrapper mb-2 d-none d-sm-block">
                                                        <img id="project{{this.id}}" src="{{this.Images.[0].src}}" alt="" class="full-img small-image" width="100%" height="100%">
                                                    </div>
                                                    <div class="scrolling-wrapper">
                                                        {{#each this.Images}}
                                                            <img loading="lazy" src="{{src}}" class="scrolling-img" alt="{{name}}" onclick="selectedImg(this, {{../this.id}})">
                                                        {{/each}}
                                                    </div>
                                                    <div class="scrolling-arrow-left d-none d-sm-block"><img src="images/icons/left.svg" alt="left"></div>
                                                    <div class="scrolling-arrow-right d-none d-sm-block"><img src="images/icons/right.svg" alt="right"></div>
                                                </div>
                                                <div class="slider-info col-lg-5 mt-md-3 mt-lg-0">
                                                    <p class="slider-title f-20 font-weight-bold text-center">{{this.name}}</p>
                                                    <p class="slider-scale"><span class="red-underline">Масштаб:</span> {{this.scale}}</p>
                                                    <p class="slider-size"><span class="red-underline">Размер:</span> {{this.size}}</p>
                                                    <p class="slider-time"><span class="red-underline">Срок изготовления:</span> {{this.time}}</p>
                                                    <p class="slider-customer"><span class="red-underline">Заказчик:</span> {{#if this.customerUrl}}<a href="{{this.customerUrl}}">{{this.customer}}</a>{{else}}{{this.customer}}{{/if}}</p>
                                                    <p class="slider-description"><span class="red-underline">Описание:</span> {{this.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <a class="carousel-control-prev" href="#giftPortCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#giftPortCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                Промышленные-->
                <div class="tab-pane fade" id="pills-prom" role="tabpanel" aria-labelledby="pills-prom-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="promPortCarousel" class="carousel slide mb-5" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each prom}}
                                        <li data-target="#promPortCarousel" data-slide-to="{{this.[index]}}"></li>
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each prom}}
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-7 position-relative">
                                                    <div class="full-img-wrapper mb-2 d-none d-sm-block">
                                                        <img id="project{{this.id}}" src="{{this.Images.[0].src}}" alt="" class="full-img small-image" width="100%" height="100%">
                                                    </div>
                                                    <div class="scrolling-wrapper">
                                                        {{#each this.Images}}
                                                            <img loading="lazy" src="{{src}}" class="scrolling-img" alt="{{name}}" onclick="selectedImg(this, {{../this.id}})">
                                                        {{/each}}
                                                    </div>
                                                    <div class="scrolling-arrow-left d-none d-sm-block"><img src="images/icons/left.svg" alt="left"></div>
                                                    <div class="scrolling-arrow-right d-none d-sm-block"><img src="images/icons/right.svg" alt="right"></div>
                                                </div>
                                                <div class="slider-info col-lg-5 mt-md-3 mt-lg-0">
                                                    <p class="slider-title f-20 font-weight-bold text-center">{{this.name}}</p>
                                                    <p class="slider-scale"><span class="red-underline">Масштаб:</span> {{this.scale}}</p>
                                                    <p class="slider-size"><span class="red-underline">Размер:</span> {{this.size}}</p>
                                                    <p class="slider-time"><span class="red-underline">Срок изготовления:</span> {{this.time}}</p>
                                                    <p class="slider-customer"><span class="red-underline">Заказчик:</span> {{#if this.customerUrl}}<a href="{{this.customerUrl}}">{{this.customer}}</a>{{else}}{{this.customer}}{{/if}}</p>
                                                    <p class="slider-description"><span class="red-underline">Описание:</span> {{this.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <a class="carousel-control-prev" href="#promPortCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#promPortCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-anything" role="tabpanel" aria-labelledby="pills-anything-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="anyPortCarousel" class="carousel slide mb-5" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each anything}}
                                        <li data-target="#anyPortCarousel" data-slide-to="{{this.[index]}}"></li>
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each anything}}
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-7 position-relative">
                                                    <div class="full-img-wrapper mb-2 d-none d-sm-block">
                                                        <img id="project{{this.id}}" src="{{this.Images.[0].src}}" alt="" class="full-img small-image" width="100%" height="100%">
                                                    </div>
                                                    <div class="scrolling-wrapper">
                                                        {{#each this.Images}}
                                                            <img loading="lazy" src="{{src}}" class="scrolling-img" alt="{{name}}" onclick="selectedImg(this, {{../this.id}})">
                                                        {{/each}}
                                                    </div>
                                                    <div class="scrolling-arrow-left d-none d-sm-block"><img src="images/icons/left.svg" alt="left"></div>
                                                    <div class="scrolling-arrow-right d-none d-sm-block"><img src="images/icons/right.svg" alt="right"></div>
                                                </div>
                                                <div class="slider-info col-lg-5 mt-md-3 mt-lg-0">
                                                    <p class="slider-title f-20 font-weight-bold text-center">{{this.name}}</p>
                                                    <p class="slider-scale"><span class="red-underline">Масштаб:</span> {{this.scale}}</p>
                                                    <p class="slider-size"><span class="red-underline">Размер:</span> {{this.size}}</p>
                                                    <p class="slider-time"><span class="red-underline">Срок изготовления:</span> {{this.time}}</p>
                                                    <p class="slider-customer"><span class="red-underline">Заказчик:</span> {{#if this.customerUrl}}<a href="{{this.customerUrl}}">{{this.customer}}</a>{{else}}{{this.customer}}{{/if}}</p>
                                                    <p class="slider-description"><span class="red-underline">Описание:</span> {{this.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <a class="carousel-control-prev" href="#anyPortCarousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предыдущий</span>
                                    </a>
                                    <a class="carousel-control-next" href="#anyPortCarousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следующий</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-box">
            {{>form}}
        </div>
    </div>

</div>
