<div class="container">
    <h1 class="text-center f-38 mb-3">Редактировать проект "{{project.name}}"</h1>

    <form action="/portfolio/edit" method="POST" class="course-form" enctype="multipart/form-data">

        <div class="form-group">
            <label for="projectEditName">Название проекта</label>
            <input name="projectEditName" type="text" id="projectEditName" class="form-control" value="{{project.name}}">
        </div>
        <div class="form-group">
            <label for="projectEditType">Тип макета</label>
            <input class="hidden-type" type="hidden" value="{{project.type}}">
            <select name="projectEditType" type="text" id="projectEditType" class="form-control">
                <option value="Архитектурный макет">Архитектурный макет</option>
                <option value="Концептуальный макет">Концептуальный макет</option>
                <option value="Ландшафтный макет">Ландшафтный макет</option>
                <option value="Макет с интерактивной подсветкой">Макет с интерактивной подсветкой</option>
                <option value="Подарочный макет">Подарочный макет</option>
                <option value="Промышленный макет">Промышленный макет</option>
                <option value="Прочее">Прочее</option>
            </select>
        </div>
        <div class="form-group">
            <label for="projectEditScale">Масштаб</label>
            <input name="projectEditScale" type="text" id="projectEditScale" class="form-control" value="{{project.scale}}">
        </div>
        <div class="form-group">
            <label for="projectEditSize">Размер</label>
            <input name="projectEditSize" type="text" id="projectEditSize" class="form-control" value="{{project.size}}">
        </div>
        <div class="form-group">
            <label for="projectEditTime">Срок изготовления</label>
            <input name="projectEditTime" type="text" id="projectEditTime" class="form-control" value="{{project.time}}">
        </div>
        <div class="form-group">
            <label for="projectEditCustomer">Заказчик</label>
            <input name="projectEditCustomer" type="text" id="projectEditCustomer" class="form-control" value="{{project.customer}}">
        </div>
        <div class="form-group">
            <label for="projectEditCustomerUrl">Ссылка на заказчика</label>
            <input name="projectEditCustomerUrl" type="text" id="projectEditCustomerUrl" class="form-control" value="{{project.customerUrl}}">
        </div>
        <div class="form-group">
            <label for="projectEditDescription">Описание проекта</label>
            <textarea name="projectEditDescription" type="text" id="projectEditDescription" class="form-control" rows="10">{{project.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="projectImagesEdit">Добавьте изображения (до 5 шт)</label>
            <input name="projectImagesEdit" type="file" id="projectImagesEdit" class="form-control" multiple>
        </div>

        <input type="hidden" name="id" value="{{project.id}}">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button type="submit" class="button">Сохранить изменения</button>
    </form>

    <form action="/portfolio/remove" method="POST" class="mt-5">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="id" value="{{ project.id }}">
        <button class="button">Удалить проект</button>
    </form>
</div>